.main .row {
    position: relative;
}

.main .row h2 {
    font-size: 70px;
    position: absolute;
    top: 18px;
    background-image: linear-gradient(rgba(240,240,240,0.8),rgba(240,240,240,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .row h3 {
    font-size: 22px;
    margin-top: 84px;
}

.main .status-time {
    font-size: 12px;
}

.main .status-time > span:first-child {
    color: #fff;
    background-color: #000;
    padding: 4px 8px;
    margin-right: 8px;
}

.main .price {
    border-left: 4px solid #000;
    padding-left: 8px;
}

.main .projectManager {
    font-size: 12px;
    margin-top: 85px;
}

.main .projectManager > span:nth-child(2) {
    color: #b2b1b1;
    margin: 0 10px;
}

.development-content {
    margin-top: 60px;
}

.development-content > span, .project-team > span {
    color: #b2b1b1;
    font-size: 12px;
}

.development-content > ul > li, .project-team > ul > li {
    font-size: 18px;
    padding-left: 38px;
    display: inline;
}

.development-content > ul > li:first-child, .project-team > ul > li:first-child {
    padding-left: 0;
}

.development-content > ul > li > ul {
    font-size: 14px;
    margin-left: 60px;
}

.development-content > ul > li > ul > li {
    margin-top: 24px;
}

/* 项目详情待申请 Start */
.project-team {
    position: relative;
    margin: 70px 0 30px;
}

.project-team > ul > li:last-child {
    font-size: 12px;
}

.project-team > p {
    margin: 28px 0 40px 60px;
}

.project-team > p > span:first-child {
    color: #515151;
    margin-right: 20px;
}

.project-team > p > span:last-child {
    font-size: 26px;
    font-weight: 500;
}

.project-team > button {
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
    margin: 0 0 120px 58px;
    outline: none;
}

.project-team .project-apply {
    text-align: center;
    background-color: #fff;
    padding: 25px;
    box-shadow: 2px 2px 30px #E0E0E0;
    position: absolute;
    left: 350px;
    bottom: 120px;
    display: none;
}

.project-team .project-apply > p {
    margin: 10px 0;
}

.project-team .project-apply > span {
    padding: 8px 12px;
    background-color: #e8e8e8;
    border-radius: 20px;
    position: absolute;
    bottom: -16px;
    right: 104px;
    cursor: pointer;
}
/* 项目详情待申请 End */


/* 项目详情开发中 Start */
.project-team > ul > li:nth-child(3) {
    font-size: 14px;
}

.project-team > ul > li:nth-child(4) {
    color: #b2b1b1;
    font-size: 12px;
}

.project-team > ul > li:nth-child(5) {
    width: 80px;
    height: 32px;
    line-height: 32px;
    padding-left: 0;
    text-align: center;
    border: 1px solid #000;
    border-radius: 16px;
}

.project-team a {
    color: #000;
    padding: 10px 14px;
}

.background {
    position:relative;
    background-color: #f8f8f8;
    padding: 30px 0;
    margin-bottom: 140px;
}

.background > img:first-child {
    position: absolute;
    top: 216px;
}

.background > img:last-child {
    position:absolute;
    top: 164px;right: 0;
}

.slideshow {
    position:relative;
    z-index: 99;
}

.slideshow > a {
    position: relative;
    padding: 16px 19px;
}

.slideshow .prev {
    background-color: #fff;
    bottom: 17px;
}

.slideshow .next {
    background-color: #000;
    top: 19px;
    right: 4px;
}

.team-introduction {
    display: inline-block;
}

.team-members {
    display: inline-block;
    font-size: 0;
    width: 520px;
    height: 360px;
    vertical-align: middle;
    float: left;
}

.team-leader {
    display: inline-block;
    width: 390px;
    height: 360px;
    background-color: #fff;
    padding: 30px;
    vertical-align: middle;
}

.team-leader > .leader {
    position: relative;
}

.team-leader > .leader > img:first-child {
    margin-right: 14px;
}

.team-leader > .leader a {
    position: absolute;
    right: 0;
    top: 15px;
}

.team-leader > p, .team-leader > ul {
    font-size: 12px;
}

.team-leader > p:nth-child(2) {
    margin: 20px 0;
}

.team-leader > p:last-child > img {
    vertical-align: text-top;
}

.team-leader li {
    display: inline;
    padding: 5px;
    background-color: #F0F0F0;
}

.team-leader .about-team {
    position: relative;
    margin: 46px 0 26px 0;
}

.team-leader .about-team > div {
    display: inline-block;
}

.team-leader .about-team small, .team .about-team span {
    color: #b2b1b1;
    font-size: 12px;
    font-weight: 500;
}

.team-leader .about-team p {
    font-size: 26px;
    font-weight: 700;
}

.team-leader .about-team > span {
    position: absolute;
    left: 0;
    right: 0;
    top: 14px;
    bottom: 0;

}

.team-leader .about-team > .team-member {
    margin-right: 70px;
}

.team-leader .about-team > .project-finished {
    margin-left: 70px;
}

.team-leader > p:last-child {
    font-size: 12px;
}

.team-leader > p:last-child .pull-right {
    color: #b2b1b1;
    cursor: pointer;
}

.teamDisplay > img:first-child {
    position: absolute;
    top: 216px;
}

.teamDisplay > img:last-child {
    position: absolute;
    right: 0;
    bottom: 125px;
}

.img-border {
    padding-bottom: 30px;
    border-bottom: 3px solid #000;
}

.potential-risks > ul > li > ul > li {
    list-style-type: disc;
}
/* 项目详情开发中 End */