.main .banner {
    background: url("../img/team_back.jpg");
    color: #fff;
}

.main .banner h2 {
    font-size: 70px;
    position: absolute;
    top: 18px;
    background-image: linear-gradient(rgba(240,240,240,0.8),rgba(240,240,240,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .banner h3 {
    font-size: 22px;
    margin-top: 84px;
}

.main .banner p:last-child {
    font-size: 12px;
    margin-bottom: 50px;
}

.main .team-numbers, .main .team-location {
    font-size: 12px;
    color: #000;
    background-color: #fff;
    padding: 3px 6px;
    margin-right: 5px;
    opacity: 0.8;
}

.main .projectManager {
    margin-top: 70px;
}

.main .projectManager > span:nth-child(2) {
    color: #b2b1b1;
    margin: 0 10px;
}

.team-introduction {
    padding-top: 75px;
    position: relative;
}

.team-introduction > img {
    position: absolute;
    top: 200px;
}

.team-introduction > ul > li > ul {
    margin: 40px 0 0 124px;
}

.team-introduction > ul > li > ul > li {
    font-size: 14px;
    margin-top: 24px;
}

.team-introduction > span, .project-team > span, .group-activities > span {
    font-size: 12px;
    color: #b2b1b1;
}

.team-introduction > ul > li, .project-team > ul > li, .group-activities > ul > li {
    font-size: 18px;
    padding-left: 38px;
    display: inline;
}

.team-introduction > ul > li:first-child, .project-team > ul > li:first-child, .group-activities > ul > li:first-child {
    padding-left: 0;
}

.team-introduction > ul > li:nth-child(3) {
    text-align: center;
    line-height: 28px;
    padding-left: 0;
    border: 1px solid #000;
    border-radius: 16px
}

.team-introduction a {
    color: #000;
    font-size: 12px;
    padding: 10px 14px;
}

.team-introduction .project-dev {
    display: none;
    width: 460px;
    height: 360px;
    background-color: #fff;
    box-shadow: 2px 2px 30px #E0E0E0;
    position: absolute;
    top: 0;
    right: 122px;
}

.project-dev > h4 {
    margin: 30px 0 0 30px;
}

.project-dev > span {
    padding: 8px 12px;
    background-color: #e8e8e8;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.project-dev .project-list {
    width: 460px;
    height: 200px;
    margin-top: 35px;
    overflow: auto;
}

.project-list li {
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
}

.project-list li:hover {
    background-color: #f8f8f8;
}

.project-list p {
    display: inline-block;
}

.project-list span {
    float: right;
    margin-right: 60px;
}

.project-team {
    margin: 40px 0 30px;
}

.project-team > ul > li:last-child {
    color: #b2b1b1;
    font-size: 12px;
}

.group-activities {
    margin-top: 75px;
}

.potential-risks > ul > li > ul > li {
    list-style-type: disc;
}

.background {
    position:relative;
    background-color: #f8f8f8;
    padding: 30px 0 0 0;
}

.background > img:first-child {
    position: absolute;
    top: 216px;
}

.background > img:last-child {
    position:absolute;
    top: 164px;
    right: 0;
}

.slideshow {
    position:relative;
    z-index: 99;
}

.slideshow > a {
    position: relative;
    padding: 16px 19px;
}

.slideshow .prev {
    background-color: #fff;
    bottom: 135px;
}

.slideshow .next {
    background-color: #fff;
    bottom: 187px;
    left: 386px;
}

.team-show {
    display: inline-block;
    position: relative;
}

.team-members {
    display: inline-block;
    font-size: 0;
    width: 910px;
    height: 360px;
    vertical-align: middle;
    position: relative;
}

.team-members > a {
    display: inline-block;
    position: relative;
}

.team-members img {
    width: 130px;
    height: 270px;
}

.team-members > a:first-child, .team-members > a:nth-last-child(2) {
    top: 90px;
}

.team-members > a:nth-child(3), .team-members > a:last-child {
    top: 60px;
}

.team-members > a:nth-child(2), .team-members > a:nth-child(5) {
    top: 30px;
}

.team-members > a > div {
    position: absolute;
    top: 0;
    width: 130px;
    height: 270px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    text-align: center;
    padding-top: 110px;
    opacity: 0.6;
    display: none;
}

.team-members > a:hover .role {
    display: block;
}

.img-border:after {
    margin: 25px auto 0;
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.team-leader {
    display: inline-block;
    position: absolute;
    width: 390px;
    height: 360px;
    background-color: #fff;
    padding: 30px;
    top: 0;
    left: 520px;
    vertical-align: middle;
}

.team-leader > .leader {
    position: relative;
}

.team-leader > .leader > img:first-child {
    margin-right: 14px;
}

.team-leader > .leader a {
    position: absolute;
    right: 0;
    top: 15px;
}

.team-leader > p, .team-leader > ul {
    font-size: 12px;
}

.team-leader > p:nth-child(2) {
    margin: 20px 0;
}

.team-leader > p:last-child > img {
    vertical-align: text-top;
}

.team-leader > ul > li {
    display: inline;
    padding: 5px;
    background-color: #F0F0F0;
}

.team-leader .about-team {
    position: relative;
    margin: 46px 0 26px 0;
}

.team-leader .about-team > div {
    display: inline-block;
}

.team-leader .about-team small, .team .about-team span {
    color: #b2b1b1;
    font-size: 12px;
    font-weight: 500;
}

.team-leader .about-team p {
    font-size: 26px;
    font-weight: 700;
}

.team-leader .about-team > span {
    position: absolute;
    left: 0;
    right: 0;
    top: 14px;
    bottom: 0;

}

.team-leader .about-team > .team-member {
    margin-right: 70px;
}

.team-leader .about-team > .project-finished {
    margin-left: 70px;
}

.team-leader > p:last-child {
    font-size: 12px;
}

.team-leader > p:nth-last-child(2) .pull-right {
    color: #b2b1b1;
    cursor: pointer;
}

.team-leader > .point-instruction {
    display: none;
    width: 300px;
    height: 360px;
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 0 5px 15px #E0E0E0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.point-instruction h4 > span {
    color: #b2b1b1;
    padding: 5px;
    position: relative;
    bottom: 6px;
    cursor: pointer;
}

.point-instruction li {
    font-size: 12px;
    line-height: 35px;
}

.point-instruction li span:last-child {
    float: right;
}

.teamDisplay > img:first-child {
    position: absolute;
    top: 216px;
}

.teamDisplay > img:last-child {
    position: absolute;
    right: 0;
    bottom: 125px;
}

.activities-details {
    position: relative;
    padding-bottom: 70px;
}

.activities-details > .activities-list {
    position: relative;
    padding-top: 40px;
}

.activities-list:not(:first-child), .activities-list > div > ul:not(:first-child) {
    display: none;
}

.activities-list > p {
    float: left;
    color: #b2b1b1;
    margin-right: 16px;
}

.activities-list > div {
    float: left;
    width: 1092px;
}

.activities-list > div > ul, .activities-list > div > ul > li {
    float: left;
}

.activities-list > div > ul > li:nth-child(1), .activities-list > div > ul > li:nth-child(3) {
    font-size: 28px;
    padding: 0 14px;
    position: relative;
    bottom: 6px;
}

.activities-list > div > ul > li:nth-child(2) {
    position: relative;
    color: #b2b1b1;
    top: 3px;
}

.activities-list .activities-content {
    float: left;
    width: 936px;
    margin: 0 0 60px 20px;
}

.activities-list .activities-content > li:first-child {
    line-height: 24px;
    margin-bottom: 25px;
}

.activities-content img {
    border-right: 9px solid #fff;
}

.activities-details > button {
    width: 90px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    right: 30px;
    background-color: #fff;
    border-radius: 16px;
    outline: none;
}

.activities-details > .showMore {
    border: 1px solid #000;
    top: 148px;
}

.activities-details > .hideMore {
    display: none;
    bottom: 70px;
    border: 0;
    box-shadow: 2px 2px 10px #E0E0E0;
}